nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}


nav ul {
    list-style: none; /* tira a bolinha das listas*/
    display: flex;
    align-items: center;
    gap: 24px;
    padding-block: 8px;
}

/* imagem de perfil da navbar */
nav ul li:last-child img{
    width: 40px;
    height: 40px;
}

